test.py
Classes\__pycache__\*
Classes\__pycache__
images\side-run\*
images\side-run
images\up-run\*
images\up-run
Classes/__pycache__/utils.cpython-39.pyc
Classes/__pycache__/bullet.cpython-39.pyc
Classes/__pycache__/player.cpython-39.pyc
Classes/__pycache__/conica.cpython-39.pyc
Classes/__pycache__/retta.cpython-39.pyc
ciao.png
